{% extends 'account/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="mahasiswa">
        <img src="{% static 'account/icon/mahasiswa.png' %}" alt="">
        <p>Mahasiswa</p>
        <h1>0</h1>
    </div>
    <div class="dosen">
        <img src="{% static 'account/icon/dosen.png' %}" alt="">
        <p>Dosen</p>
        <h1>0</h1>
    </div>
    <div class="jadwal">
        <img src="{% static 'account/icon/matakuliah.png' %}" alt="">
        <p>Matakuliah</p>
        <h1>0</h1>
    </div>
    <div class="matakuliah">
        <img src="{% static 'account/icon/jurusan.png' %}" alt="">
        <p>Jurusan</p>
        <h1>0</h1>
    </div>
    <div class="matakuliah">
        <img src="{% static 'account/icon/jurusan.png' %}" alt="">
        <p>Jurusan</p>
        <h1>0</h1>
    </div>
    <div class="matakuliah">
        <img src="{% static 'account/icon/jurusan.png' %}" alt="">
        <p>Jurusan</p>
        <h1>0</h1>
    </div>
    <div class="matakuliah">
        <img src="{% static 'account/icon/jurusan.png' %}" alt="">
        <p>Jurusan</p>
        <h1>0</h1>
    </div>
    <div class="matakuliah">
        <img src="{% static 'account/icon/jurusan.png' %}" alt="">
        <p>Jurusan</p>
        <h1>0</h1>
    </div>
</div>
{% endblock content %}